<div class="container" style="display:flex;flex-direction:row;margin-bottom:5px">
  <img src="{{ if .Params.Image }}{{ .Params.Image }}{{ else }}/Lalit-new-logo-2.png{{ end }}" style="width:70px;object-fit:contain;padding:5px;margin:5px;border-color:white;border-radius: 15px;" alt="{{ .Title }}" >
  <div class="continer">
    <h1 class="title">
      <!-- <a href="{{ .RelPermalink }}> -->
        {{.Title}}
      <!-- </a> -->
    </h1>
    <time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
    <br>
    <div class="description">
      {{ if (ne (.Params.description) "") }}
      {{ .Description }}
      {{ else if isset .Params "subtitle" }}
      {{ .Params.subtitle }}
      {{ else }}
      {{ .Summary }}&hellip;
      {{ end }}
    <!-- </div> -->
    <!-- <div style="align-items: center;"><img src="{{ .Params.Image }}" height="200px" alt="Title image"/></div> -->
    <a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
    </div>
  </div>
</div>
