<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
    <div class="content-side">
      {{ partial "google/adsense-vertical.html" . }}
    </div>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
          <!-- adding #disqus_thread to end of each article link -->
					<h1 class="title"><a href="{{ .RelPermalink }}#disqus_thread">{{.Title}}</a></h1>
					<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<br><div class="description">
						{{ if (ne (.Params.description) "") }}
						{{ .Description }}
            {{ else if isset .Params "subtitle" }}
            {{ .Params.subtitle }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					<!-- </div> -->
          <!-- <div style="align-items: center;"><img src="{{ .Params.Image }}" height="200px" alt="Title image"/></div> -->
          <!-- adding #disqus_thread to end of each article link -->
					<a class="readmore" href="{{ .RelPermalink }}#disqus_thread">Read more ⟶</a>
          </div>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
    <div class="content-side">
      {{ partial "google/adsense-vertical.html" . }}
    </div>
    {{ partial "diqus-body-script" . }}
	</body>
</html>
